/*All Around Styling*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.5;
    color: #f9faf8;
    background-color: #1f2937;
}

img{
    max-width: 100%;
}

h1,h2{
    margin-bottom: 15px;
}

ul{
    list-style-type: none;
}

.container, .boxes .boxheader{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}

/*Navbar Section*/

.navbar{
    height: 80px;
}

.navbar .logo{
    font-size: 24px;
}

.navbar a{
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.navbar a:hover{
    color:#3882f6;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin-left: 20px;
}

/*Header Section*/

.header{
    min-height: 400px;
    margin-top: 30px;
}

.header h1{
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    margin-right: 30px;
}

.header img{
    max-width: 450px;
    margin-left: 20px;
    border-radius: 50px;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}

/*Info Boxes Section*/

.boxes{
    background-color: white;
    color: #1f2937;
    height: 500px;
}

.boxes .container{
   display: flex;
   justify-content: space-between;
   padding-bottom: 30px;
}

.box{
    flex: 1;
    margin: 20px 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.boxes img{
    border-radius: 10px;
    max-width: 200px;
    max-height: 500px;
    
}

.boxes .boxheader{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-emphasis-color: #1f2937;
    font-weight: 800;
    font-size: 36px;
}

/*Anectode Section*/

.anectode{
    background-color: #E5E7EB;
    height: 500px;
}

.anectode .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    
}

.anectode .anec-p{
    font-size: 36px;
    font-weight: 200;
    color: #1f2937;
    font-style: italic;
}

.anectode a{
    font-weight: 800;
    font-size: 28px;
    text-decoration: none;
    color: #1f2937;
    align-self: flex-end;
}

/*Subscribe Section*/

.subscribe{
    background-color: #f9faf8;
    height: 400px;
    display: flex;
    align-items: center;
}

.subscribe .container{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #3882f6;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 100px;
    
}

.subscribe div{
    line-height: 0.7;
    padding-top: px;
}

.subscribe button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px;
    border-radius: 5px;
    border-color: #f9faf8;
    font-weight: 700;
}


/*Footer Section*/

.footer{
    height: 60px;
}

.footer .container{
    display: flex; /*Because why not, just flexing*/
    padding-top: 30px;;
    justify-content: center;
}

/*Media Query*/

@media (max-width: 768px){
    .header .container{
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header img{
        padding-top: 10px;
    }

    .boxes{
        height: 900px;
    }

    .boxes .container{
        display: block;
        text-align: center;
    }
}